.delete-section {
  margin-top: 1rem;
  width: 100%;
}

.delete-form-container {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 0.5rem;
}

.delete-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.delete-form input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.delete-btn {
  background-color: #e63946;
  color: white;
  padding: 0.75rem;
  margin: auto;
}