@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&display=swap');

/* Navigation Bar Container */
.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #790cd3;
  padding: 12px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Fredoka', sans-serif;
  height: 80px; 
}

/* Logo */
.logo img.logo-image {
  height: 56px;
  width: auto;
  cursor: pointer;
}

/* Title in the Center */
.nav-title {
  text-decoration: none;
  flex: 1;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.nav-title-link {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

/* Nav Links on the Right */
.Links {
  display: flex;
  gap: 24px;
  align-items: center;
}

/* Nav Link Styling */
.Links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s ease;
}

/* Hover Effect */
.Links a:hover {
  color: #00ffaa;
}

/* Button Style*/
.button1 {
  margin-left: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: all 0.25s ease;
  color: white;
}

.button1:hover {
  border-color: #000000;
  background: #ffffff;
  color: #000000;
  transform: translateY(-2px);
}

.name {
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
}