@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&display=swap');

.Title {
  font-family: 'Fredoka', sans-serif;
  flex: 1;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.Body {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.BackgroundDiv {
  background-color: #4b0430ff;
  /* background-image: "url(/images/chat-bg.jpg)"; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.MainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 5rem;
  padding-right: 8rem;
}

.Landing-Button {
  font-family: 'Fredoka', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: #141414;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.Landing-Button:hover {
  background-color: #f700fff3;
  color: black;
}

.Landing-Button:active {
  background-color: #8e3e8a;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}

.TextDiv {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background: #790cd3;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(233, 0, 0, 0.5);
}