@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&display=swap');

.page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4b0430ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0rem;
}

.Register-page {
  font-family: 'Fredoka', sans-serif;
  background: #790cd3;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(233, 0, 0);
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: white;
  translate: -10%;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  gap: 1rem;
  position: relative;
}

.form-label {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.form-input {
  font-family: 'Fredoka', sans-serif;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
}

.custom-button{
  font-family: 'Fredoka', sans-serif;  
  font-size: 24px;                    
  color: white;                       
  background-color: #000000;          
  border: none;                       
  border-radius: 12px;                
  padding: 1rem;                 
  cursor: pointer;                    
  transition: background-color 0.3s ease;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 106%;
}

.custom-button:hover {
  background-color: #f700fff3;
  color: black;
}

.custom-button:active {
  background-color: #8e3e8a;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}

.Login-Redirect, .Login-Link {
  margin-top: 1rem;
  color: white;
}

.Register-Title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}